* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #58D68D
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

.lists__pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 2fr));
  gap: 5em;
  padding: 5em;
  text-align: center;
}

.pokemon__img {
  border: 1px solid black;
  width: 100%;
  border-radius: 3px;
  margin-top: 8em;
  color: black;
  padding: 0.5em;
  background-color: antiquewhite;
  font-size: 25px;
  font-family: fantasy;
}

.pokemon__img img {
  height: 200px;
  width: 100%;
  margin-top: -25em;
}
